@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.qr-reader{
    width: 80vw;
    height: 100vw;
    margin-top: 30px;
    & > section{
      border-radius: 20px;
      & > div{
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 5px inset !important;
      }
    }
  }
.input-placeholder::placeholder {

    background: grey;

  
  }
   .logs::placeholder {
    text-decoration-color: gray;
    color: grey;
  }
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin: 10px;
    font-family: Lexend;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],input[type="number"],
input[type="email"]
 {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 7px;
    border-color: rgb(36, 172, 242);
}

button {
    /* background-color: #007bff; */
    color: white;
    border: none;
    
    cursor: pointer;
    padding: 5px 10px;
    margin:auto;
    
}
button:hover {
    background-color: white;
    color: #000;
}
#swapper{
    width:100px;
}



#result {
    margin-top: 20px;
    font-weight: bold;
}

#loader {
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
}